<h1>Qlik Sense reload aborted</h1>
<p>

  <style type="text/css">
    .tg {
      border-collapse: collapse;
      border-spacing: 0;
    }

    .tg td {
      border-color: black;
      border-style: solid;
      border-width: 1px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
    }

    .tg .tg-nalo {
      background-color: #efefef;
      border-color: inherit;
      color: #000000;
      font-family: "Courier New", Courier, monospace !important;
      ;
      font-weight: bold;
      text-align: left;
      vertical-align: top
    }

    .tg .tg-ipfp {
      background-color: #efefef;
      border-color: inherit;
      color: #000000;
      font-family: "Courier New", Courier, monospace !important;
      ;
      text-align: left;
      vertical-align: top
    }
  </style>

<table class="tg">
  <tbody>

    {{! Template comments like this one will not show up in the generated HTML email code}}
    {{! Please refer to https://handlebarsjs.com/guide/#simple-expressions for info on Handlebars templating syntax }}

    <tr>
      <td class="tg-nalo">Reload on node</th>
      <td class="tg-ipfp">{{executingNodeName}}</th>
    </tr>
    <tr>
      <td class="tg-nalo">Aborted by user</td>
      <td class="tg-ipfp">{{user}}</td>
    </tr>
    <tr>
      <td class="tg-nalo">Duration (seconds)</td>
      <td class="tg-ipfp">{{executionDuration.hours}} hours, {{executionDuration.minutes}} minutes, {{executionDuration.seconds}} seconds</th>
    </tr>

    <tr>
      <td class="tg-nalo">Execution started</td>
      <td class="tg-ipfp">{{executionStartTime.startTimeLocal1}}</td>
    </tr>
    <tr>
      <td class="tg-nalo">Execution ended</td>
      <td class="tg-ipfp">{{executionStopTime.stopTimeLocal1}}</td>
    </tr>
    <tr>
      <td class="tg-nalo">Execution result</td>
      <td class="tg-ipfp">{{executionStatusText}}</td>
    </tr>
    <tr>
      <td class="tg-nalo">Execution result code</td>
      <td class="tg-ipfp">{{executionStatusNum}}</td>
    </tr>
    <tr>
      <td class="tg-nalo"></td>
      <td class="tg-ipfp"></td>
    </tr>
    <tr>
      <td class="tg-nalo">Task name</td>
      <td class="tg-ipfp">{{taskName}}</td>
    </tr>
    <tr>
      <td class="tg-nalo">Task ID</td>
      <td class="tg-ipfp">{{taskId}}</td>
    </tr>
    <tr>
      <td class="tg-nalo"></td>
      <td class="tg-ipfp"></td>
    </tr>
    <tr>
      <td class="tg-nalo">App name</td>
      <td class="tg-ipfp">{{appName}}</td>
    </tr>
    <tr>
      <td class="tg-nalo">App ID</td>
      <td class="tg-ipfp">{{appId}}</td>
    </tr>
    <tr>
      <td class="tg-nalo">App owner</td>
      <td class="tg-ipfp">{{appOwnerName}}</td>
    </tr>
    <tr>
      <td class="tg-nalo">App owner user</td>
      <td class="tg-ipfp">{{appOwnerUserDirectory}}/{{appOwnerUserId}}</td>
    </tr>
    <tr>
      <td class="tg-nalo">App owner email</td>
      <td class="tg-ipfp">{{appOwnerEmail}}</td>
    </tr>
    <tr>
      <td class="tg-nalo"></td>
      <td class="tg-ipfp"></td>
    </tr>
    <tr>
      <td class="tg-nalo">Log timestamp</td>
      <td class="tg-ipfp">{{logTimeStamp}}</td>
    </tr>
    <tr>
      <td class="tg-nalo">Log message</td>
      <td class="tg-ipfp">{{logMessage}} </td>
    </tr>
  </tbody>

</table>

<p></p>
<h2>History</h2>
{{! Use advanced templating syntax to create a table with varying number of rows }}
<table class="tg">
  <thead>
    <tr>
      <td class="tg-nalo">Timestamp</th>
      <td class="tg-nalo">Message</th>
    </tr>
  </thead>

  <tbody>
    {{#each executionDetails}}
    <tr>
      <td class="tg-ipfp">{{this.timestampLocal1}}</th>
      <td class="tg-ipfp">{{this.message}}</th>
    </tr>
    {{/each}}
  </tbody>
</table>




<p>
  <a href="{{qlikSenseQMC}}">Qlik Sense QMC</a> | <a href="{{qlikSenseHub}}">Qlik Sense Hub</a>
</p>


<h2>Script log</h2>
<p>The script log contains {{scriptLogSize}} characters in total.</p>

<h3>Beginning of script log ({{scriptLogHeadCount}} lines)</h3>
<div class="tg-nalo">
  <pre>
{{scriptLogHead}}
</pre>
</div>

<h3>End of script log ({{scriptLogTailCount}} lines)</h3>
<div class="tg-nalo">
  <pre>
{{scriptLogTail}}
</pre>
</div>