<h1>Qlik Sense preload task successful</h1>
<p>


<table>
  <tbody>
    <tr>
      <td style="padding-right: 20px;">
        <strong>Task name</strong><br>
        {{taskName}}
      </td>
      <td style="padding-left: 20px;">
        <strong>Task ID</strong><br>
        {{taskId}}
      </td>
    </tr>
    <tr>
      <td style="padding-right: 20px; vertical-align: top;">
        <strong>Preload task tags</strong><br>
        {{#each taskTags}}
          {{this}}<br>
        {{/each}}
      </td>
      <td style="padding-left: 20px; vertical-align: top;">
        <strong>Preload task custom properties</strong><br>
        {{#each taskCustomProperties}}
          {{this.name}}: {{this.value}}<br>
        {{/each}}
      </td>
    </tr>
    <tr>
      <td colspan="2"><hr></td>
    </tr>

    <tr>
      <td style="padding-right: 20px;">
        <strong>Task started</strong><br>
        {{executionStartTime.startTimeLocal1}}
      </td>
      <td style="padding-left: 20px;">
        <strong>Task ended</strong><br>
        {{executionStopTime.stopTimeLocal1}}
      </td>
    </tr>
    <tr>
      <td style="padding-right: 20px;">
        <strong>Duration</strong><br>
        {{executionDuration.hours}} hours, {{executionDuration.minutes}} minutes, {{executionDuration.seconds}} seconds
      </td>
      <td style="padding-left: 20px;">
        <strong>Executing node</strong><br>
        {{executingNodeName}}
      </td>
    </tr>
    <tr>
      <td style="padding-right: 20px;">
        <strong>User starting task</strong><br>
        {{user}}
      </td>
      <td style="padding-left: 20px;">
        <strong>Next execution</strong><br>
        {{taskNextExecution}}
      </td>
    </tr>

    <tr>
      <td colspan="2"><hr></td>
    </tr>

    <tr>
      <td style="padding-right: 20px;">
        <strong>Execution result</strong><br>
        {{executionStatusText}}
      </td>
      <td style="padding-left: 20px;">
        <strong>Execution result code</strong><br>
        {{executionStatusNum}}
      </td>
    </tr>

    <tr>
      <td style="padding-right: 20px;">
        <strong>Log timestamp</strong><br>
        {{logTimeStamp}}
      </td>
      <td style="padding-left: 20px;">
        <strong>Log level</strong><br>
        {{logLevel}}
      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding-right: 20px;">
        <strong>Log message</strong><br>
        {{logMessage}}
      </td>
    </tr>
    <tr>
      <td colspan="2"><hr></td>
    </tr>

    <tr>
      <td colspan="2" style="padding-right: 20px;">
        <strong>Qlik Sense QMC</strong><br>
        {{qlikSenseQMC}}
      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding-right: 20px;">
        <strong>Qlik Sense Hub</strong><br>
        {{qlikSenseHub}}
      </td>
    </tr>

    {{#if genericUrls}}
    <tr>
      <td colspan="2"><hr></td>
    </tr>
    <tr>
      <td colspan="2" style="padding-right: 20px;">
        <strong>Links</strong><br>
        {{#each genericUrls}}
          <a href="{{this.url}}">{{this.linkText}}</a><br>
        {{/each}}
      </td>
    </tr>
    {{/if}}
  </tbody>
</table>
